@import "variables.less";

.main-content {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;

    .product-content {
        display: flex;

        .selection-container {
            .selection {
                border: 1px solid @color-gallery;
                display: flex;
                align-items: center;
                justify-content: center;

                &:nth-of-type(even) {
                    margin: 38px 0;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .selected {
                border: 1px solid @color-pomegranate;
            }
        }

        .product-img-container {
            .product-img {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: @color-seashell;
                height: 100%;

                img {
                    width: 90%;
                }
            }

            p {
                color: @color-dove-gray;
                margin: 35px 0;
            }
        }

        .product-details {
            .product-attr {
                display: flex;
                flex-direction: column;

                span {
                    margin-bottom: 10px;
                }
            }

            span {
                span {
                    font-weight: @bold;
                }
            }

            h2 {
                font-weight: @bold;
            }

            ul {
                padding: 0 18px;

                li {
                    list-style-type: disc;
                }
            }

            .variations-container {
                display: flex;
                flex-wrap: wrap;
                border-top: 1px solid @color-gallery;
                border-bottom: 1px solid @color-gallery;

                .variation {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: @color-dove-gray;

                    &:hover {
                        cursor: pointer;
                        border: 1px solid @color-pomegranate;
                    }
                }
                .selected {
                    border: 1px solid @color-pomegranate;
                    color: @color-pomegranate;
                }
            }

            .discount {
                font-weight: @normal;
                display: flex;
                align-items: center;

                .discount-price {
                    color: @color-alto;
                    text-decoration: line-through;
                    margin: 0 10px;
                }
            }

            .product-buttons-container {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .input-box {
                    display: flex;
                    align-items: center;
                    height: 65px;
                    width: 202px;

                    button {
                        background: transparent;
                        border: 0;
                        cursor: pointer;
                        height: 100%;
                        width: 100%;
                        border: 1px solid @color-gallery;
                        font-size: 38px;
                    }

                    input {
                        width: 100%;
                        height: 100%;
                        border: 1px solid @color-gallery;
                        text-align: center;
                        font-size: 30px;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }

                #buy-button {
                    background-color: @color-pomegranate;
                    color: @color-white;
                    transition: 0.3s;

                    &:hover {
                        cursor: pointer;
                        background-color: @color-grenadier;
                    }
                }

                #cart-button {
                    border: 1px solid @color-pomegranate;
                    color: @color-pomegranate;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .information-container {
        margin: 69px 0 140px;

        .info-title {
            border-bottom: 1px solid @color-gallery;
            display: flex;
            justify-content: center;

            h3 {
                font-weight: @bold;
                line-height: 2.5;
                padding: 5px 0;

                &:hover {
                    cursor: pointer;
                }
            }

            .selected {
                border-bottom: 1px solid @color-pomegranate;
                padding: 5px 0;
            }

            #selected {
                border-bottom: 1px solid @color-pomegranate;
            }
        }

        .description {
            padding: 36px 22%;

            p {
                line-height: 1.8;
                display: none;
            }

            .show {
                display: block;
            }
        }
    }

    .related-products-section {
        .text-title {
            text-align: center;
            font-size: 21px;
        }

        .related-products-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 93px;

            .section {
                .prod-container {
                    background-color: @color-seashell;
                    text-align: center;
                    margin-bottom: 30px;
                    width: 409px;
                    height: 562px;

                    .badges {
                        display: flex;
                        justify-content: space-between;
                        padding: 27px 25px;

                        .tag {
                            width: fit-content;
                            color: #fff;
                            padding: 6px 18px;
                            border-radius: 50px;
                            font-size: 10px;
                            font-weight: 300;
                            height: 26px;
                        }

                        .heart-border {
                            border: 1px solid @color-alto;
                            padding: 12px;
                            border-radius: 50px;
                            display: flex;

                            &:hover {
                                border: 1px solid @color-pomegranate;
                                cursor: pointer;
                            }
                        }

                        #new {
                            background-color: @color-mountain-meadow;
                        }

                        #discount {
                            background-color: @color-pomegranate;
                        }

                        #hot {
                            background-color: @color-orange-peel;
                        }

                        #warranty {
                            background-color: #7f7cf6;
                        }
                    }

                    .quick-view-container {
                        position: relative;

                        img {
                            position: absolute;
                            right: 40px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    #r-prod {
                        margin: 92px 40px 80px;
                        width: 275px;
                    }

                    .cart-button {
                        display: flex;
                        justify-content: center;
                        margin: 5px 0;

                        button {
                            display: flex;
                            align-items: center;
                            background: @color-white;
                            padding: 18px 53px;

                            &:hover {
                                box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
                                cursor: pointer;
                            }
                        }

                        img {
                            height: 18px;
                        }

                        span {
                            margin: 0 12px;
                            font-weight: 600;
                        }
                    }
                }
                .label {
                    display: flex;
                    flex-direction: column;
                    background-color: @color-white;
                    text-align: center;
                    padding: 13px 0;
                    font-size: @small;

                    .price {
                        font-weight: 700;
                        margin: 10px 0;

                        span {
                            color: @color-alto;
                            margin: 0 10px;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}

// Desktop
@media only screen and (min-width: 1025px) {
    .main-content {
        .product-content {
            .selection-container {
                width: 15%;

                .selection {
                    height: 150px;

                    img {
                        width: 80%;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .product-img-container {
                width: 50%;
                height: 717px;
                margin: 0 30px;
            }

            .product-details {
                width: 56%;

                h2 {
                    text-transform: uppercase;
                    margin: 6px 0;
                }

                .variations-container {
                    margin: 47px 0 5px;
                    padding: 10px 0;

                    .variation {
                        width: 201px;
                        height: 77px;
                        font-size: 20px;
                    }
                }

                .product-buttons-container {
                    margin: 10px 0;

                    .container {
                        font-size: 20px;
                        height: 64px;
                        width: 200px;
                        margin: 0 29px 29px 0;
                    }
                }

                .star-rates {
                    margin: 17px 0;

                    img {
                        &:nth-of-type(even) {
                            margin: 0 5px;
                        }
                    }
                }

                ul {
                    margin: -5px 0;
                    line-height: 2;
                    font-size: 18px;
                }
            }
        }

        .information-container {
            .info-title {
                h3 {
                    &:nth-of-type(even) {
                        margin: 0 112px;
                    }
                }
            }
        }
    }
}

// Tab
@media only screen and (max-width: 1024px) {
    .main-content {
        .product-content {
            flex-wrap: wrap;
            justify-content: center;

            .selection-container {
                .selection {
                    width: 157px;
                    height: 120px;

                    img {
                        width: 75%;
                    }
                }
            }

            .product-img-container {
                width: 70%;
                margin-left: 25px;

                .product-img {
                    padding: 111px 0;
                }
            }

            .product-details {
                width: 100%;
                padding: 0 40px;
                margin: 75px 0;

                .star-rates {
                    margin: 15px 0;

                    img {
                        &:nth-of-type(even) {
                            margin: 0 5px;
                        }
                    }
                }

                ul {
                    margin: -5px 0;
                    line-height: 1.5;
                    font-size: 15px;
                }

                .variations-container {
                    font-size: 18px;
                    padding: 32px 0;

                    .variation {
                        height: 60px;
                        width: 200px;
                    }
                }

                .product-buttons-container {
                    margin: 15px 0;
                    display: flex;
                    justify-content: space-evenly;

                    .container {
                        width: 150px;
                        height: 55px;
                        font-size: 18px;
                    }
                }
            }
        }

        .information-container {
            .info-title {
                h3 {
                    &:nth-of-type(even) {
                        margin: 0 65px;
                    }
                }
            }
        }
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .main-content {
        .product-content {
            .product-img-container {
                width: 100%;
                height: 248px;
                margin: 0;

                .product-img {
                    padding: 46px 0;

                    img {
                        width: 298px;
                    }
                }

                p {
                    margin: 0;
                }
            }

            .selection-container {
                display: flex;
                margin: 20px 0 8px;
                align-items: center;

                .selection {
                    height: 88px;
                    margin: 0 15px;
                    width: 83px;

                    &:nth-of-type(1) {
                        display: none;
                    }

                    &:nth-of-type(even) {
                        margin: 0;
                    }

                    img {
                        width: 73px;
                    }
                }
            }

            .product-details {
                margin: 6px 0;
                padding: 0;

                .product-attr {
                    span {
                        margin-bottom: 6px;
                    }
                }

                .star-rates {
                    margin: 4px 0;

                    img {
                        width: 10px;

                        &:nth-of-type(even) {
                            margin: 0;
                        }
                    }
                }

                ul {
                    margin: -3px 0;
                    line-height: 2.5;
                    font-size: 8px;
                    padding: 0 12px;
                }

                .variations-container {
                    margin-top: 17px;
                    padding: 18px 0;

                    .variation {
                        height: 25px;
                        width: 66px;
                        font-size: 8px;
                    }
                }

                .discount {
                    margin: 3px 0 15px;
                }

                .tax {
                    font-size: 7px;
                }

                .product-buttons-container {
                    margin: 11px 0;
                    justify-content: start;

                    .container {
                        width: 70px;
                        height: 25px;
                    }

                    #buy-button {
                        margin: 0 10px;
                    }

                    .input-box {
                        .container();

                        button {
                            font-size: 12px;
                        }

                        input {
                            font-size: @x-small;
                        }
                    }
                }
            }
        }

        .information-container {
            margin: 11px 0;

            .info-title {
                justify-content: space-evenly;

                h3 {
                    &:nth-last-of-type(even) {
                        margin: 0 15px;
                    }
                }
            }

            .description {
                padding: 0;

                p {
                    margin: 10px 0;
                }

                span {
                    display: none;
                }
            }
        }

        .related-products-section {
            margin: 40px 0;

            .text-title {
                h2 {
                    font-size: 10px;
                }
            }

            .related-products-container {
                flex-wrap: nowrap;
                margin: 20px 0;
                display: flex;
                justify-content: space-around;

                .section {
                    width: 131px;

                    &:nth-of-type(1) {
                        margin-right: 8px;
                    }

                    &:nth-of-type(2) {
                        margin-left: 8px;
                    }

                    &:nth-of-type(3) {
                        display: none;
                    }
                    &:nth-of-type(4) {
                        display: none;
                    }

                    .prod-container {
                        width: 100%;
                        height: 205px;
                        margin-bottom: 14px;

                        .badges {
                            padding: 6px 8px;

                            .tag {
                                font-size: 6px;
                                display: flex;
                                align-items: center;
                                padding: 0 9px;
                                height: 12px;
                            }

                            .heart-border {
                                padding: 5px;

                                img {
                                    width: 8px;
                                }
                            }
                        }

                        .quick-view-container {
                            img {
                                width: 13px;
                                right: 12px;
                            }
                        }

                        #r-prod {
                            margin: 35px 0 22px;
                            width: 110px;
                        }

                        .cart-button {
                            margin: 0 17px;
                            padding: 3px 0;

                            button {
                                padding: 7px 18px;
                            }

                            span {
                                font-size: 8px;
                                margin: 0 2px;
                                white-space: nowrap;
                            }

                            img {
                                height: 12px;
                            }
                        }
                    }

                    .label {
                        padding: 0;

                        .price {
                            margin: 3px 0;
                        }
                    }
                }
            }
        }
    }
}
