@media only screen and (min-width: 1025px) {
  span,
  a,
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  span,
  a,
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  span,
  a,
  p {
    font-size: 8px;
  }
  h1 {
    font-size: 14px;
  }
  h2 {
    font-size: 13px;
  }
  h3 {
    font-size: 10px;
  }
}
.navigation .nav-header {
  background-color: #2f333a;
  height: 60px;
}
.navigation .nav-header .nav-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  height: 100%;
  max-width: 1800px;
  font-weight: 150;
}
.navigation .nav-header .nav-header-container .rate {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .currency {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .currency span {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.navigation .nav-header .nav-header-container .rate .currency:hover {
  cursor: pointer;
}
.navigation .nav-header .nav-header-container .rate .currency + .currency:before {
  content: "|";
  margin: 0 20px;
}
.navigation .nav-header .nav-header-container .rate .border {
  margin: 0 17px;
}
.navigation .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  max-width: 1800px;
  color: #191919;
}
.navigation .site-header .nav-search {
  display: flex;
  align-items: center;
}
.navigation .site-header .nav-search input[type="text"] {
  border: 1px solid #f0f0f0;
}
.navigation .site-header .nav-search input[type="text"]:focus {
  border: 1px solid #191919;
}
.navigation .site-header .nav-search .header-categories {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f0f0f0;
  white-space: nowrap;
}
.navigation .site-header .nav-search .header-categories .categories {
  position: absolute;
  width: 100%;
  background-color: #fff;
  display: none;
  top: 70px;
  text-align: center;
  z-index: 1;
}
.navigation .site-header .nav-search .header-categories .categories ul {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.navigation .site-header .nav-search .header-categories .categories ul li {
  padding: 20px 0;
}
.navigation .site-header .nav-search .header-categories .categories ul li:hover {
  background-color: #f4f5f8;
}
.navigation .site-header .nav-search .header-categories span:after {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin-left: 20px;
  content: "";
}
.navigation .site-header .nav-search .search-bar {
  transition: 0.3s;
  background: #2f333a;
  height: inherit;
}
.navigation .site-header .nav-search .search-bar:hover:enabled {
  cursor: pointer;
  background-color: #e73c17;
}
.navigation .site-header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .site-header .nav-menu .registration {
  display: flex;
}
.navigation .site-header .nav-menu .registration .reg-link + .reg-link:before {
  content: "|";
  display: inline;
  margin: 0 10px;
  color: #f0f0f0;
}
.navigation .site-header .nav-menu .registration a {
  color: #191919;
}
.navigation .site-header .nav-menu .registration a:hover {
  text-decoration: underline;
}
.navigation .site-header .nav-menu .nav-menu-button {
  display: flex;
  align-items: center;
  position: relative;
}
.navigation .site-header .nav-menu .nav-menu-button img {
  margin: 0 5px;
}
.navigation .site-header .nav-menu .nav-menu-button img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.navigation .site-header .nav-menu .nav-menu-button .badge {
  background-color: #e23000;
  color: #fff;
  border-radius: 50px;
  height: 24px;
  width: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 12px;
  left: 45px;
}
.navigation .nav-bar {
  background-color: #2f333a;
  font-weight: 200;
  height: 78px;
}
.navigation .nav-bar .nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  height: 100%;
  max-width: 1780px;
  padding: 0 18px;
}
.navigation .nav-bar .nav-bar-container .nav-categories {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e73c17;
  font-weight: 400;
  height: 100%;
  padding: 0 30px;
}
.navigation .nav-bar .nav-bar-container .nav-categories:hover {
  cursor: pointer;
}
.navigation .nav-bar .nav-bar-container .nav-categories h3 {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 400;
}
.navigation .nav-bar .nav-bar-container .nav-categories .nav-categories-dropdown {
  display: none;
  position: absolute;
  top: 77px;
  width: 100%;
  text-align: center;
}
.navigation .nav-bar .nav-bar-container .nav-categories .nav-categories-dropdown ul li {
  padding: 20px 0;
  background-color: #e73c17;
}
.navigation .nav-bar .nav-bar-container .nav-categories .nav-categories-dropdown ul li:hover {
  background-color: #e23000;
}
.navigation .nav-bar .nav-bar-container .nav-categories .nav-categories-dropdown ul li a {
  color: #fff;
}
.navigation .nav-bar .nav-bar-container .nav-contact {
  display: flex;
  align-items: center;
  justify-content: end;
  border-left: 1px solid;
  height: 100%;
}
.navigation .nav-bar .nav-bar-container .nav-contact img {
  margin-right: 33px;
  width: 40px;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text a {
  color: #fff;
  font-weight: 400;
  text-align: end;
  transition: 0.3s;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text a:hover {
  color: #e73c17;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link {
  display: flex;
  justify-content: space-between;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li {
  position: relative;
  display: flex;
  align-items: center;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul {
  position: absolute;
  top: 20px;
  background-color: #2f333a;
  display: block;
  width: 124px;
  font-weight: 400;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul li {
  padding: 15px 5px;
  color: #fff;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul li:hover {
  cursor: pointer;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul li ul {
  display: none;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul .nav-dropdown:hover ul {
  display: block;
  position: absolute;
  left: 124px;
  top: 2px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul .nav-dropdown:hover ul li:hover {
  color: #e73c17;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li a {
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li a i {
  margin: 0 10px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li a:hover {
  color: #e73c17;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li ul {
  display: none;
}
.navigation .nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f5f8;
}
.navigation .nav-title ul {
  display: flex;
  letter-spacing: 1.5px;
}
.navigation .nav-title ul li + li:before {
  content: "/";
  display: inline;
}
.navigation .nav-title ul a {
  color: #191919;
}
.navigation .nav-title ul a:hover {
  color: #e73c17;
  transition: 0.3s;
  text-decoration: underline;
}
.navigation .mobile-nav {
  display: none;
}
@media only screen and (min-width: 1025px) {
  .navigation {
    margin-bottom: 102px;
  }
  .navigation .nav-header .nav-header-container {
    padding: 0 20px;
  }
  .navigation .nav-header span {
    font-size: 16px;
  }
  .navigation .site-header {
    padding: 39px 20px;
  }
  .navigation .site-header .logo img {
    width: 160px;
  }
  .navigation .site-header .nav-search {
    width: 53%;
    height: 70px;
  }
  .navigation .site-header .nav-search input[type="text"] {
    padding: 0 43px;
    width: 69%;
    height: inherit;
    font-size: 20px;
  }
  .navigation .site-header .nav-search .header-categories {
    width: 205px;
    height: inherit;
  }
  .navigation .site-header .nav-search .header-categories span {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  .navigation .site-header .nav-search .search-bar {
    width: 63px;
  }
  .navigation .site-header .nav-menu {
    width: 227px;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories {
    width: 21%;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories i {
    font-size: 30px;
  }
  .navigation .nav-bar .nav-bar-container .nav-links {
    display: block;
    margin: 0 30px;
    width: 630px;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact {
    padding-left: 4%;
  }
  .navigation .nav-title {
    height: 250px;
  }
  .navigation .nav-title h1 {
    margin: 10px 0;
  }
  .navigation .nav-title ul {
    margin: 10px 0;
  }
  .navigation .nav-title ul li {
    font-size: 18px;
  }
  .navigation .nav-title ul li a {
    padding: 8px;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1025px) {
  .navigation .nav-bar .nav-bar-container .nav-categories {
    padding: 0;
    width: 22%;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories h3 {
    font-size: 20px;
  }
  .navigation .nav-bar .nav-bar-container .nav-links {
    width: 50%;
    margin: 0 20px;
  }
  .navigation .nav-bar .nav-bar-container .nav-links .menu-link li a {
    font-size: 16px;
    margin: 0;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact {
    padding-left: 2%;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact img {
    width: 30px;
    margin-right: 20px;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact .contact-text span,
  .navigation .nav-bar .nav-bar-container .nav-contact .contact-text a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1024px) {
  .navigation {
    margin-bottom: 80px;
  }
  .navigation .nav-header .nav-header-container {
    padding: 0 20px;
  }
  .navigation .nav-header .nav-header-container span {
    font-size: 12px;
  }
  .navigation .site-header {
    padding: 42px 20px;
  }
  .navigation .site-header .logo img {
    width: 110px;
  }
  .navigation .site-header .nav-search {
    display: flex;
    width: 50%;
  }
  .navigation .site-header .nav-search input[type="text"] {
    padding: 15px;
    width: 100%;
  }
  .navigation .site-header .nav-search .header-categories {
    height: 51px;
    width: 226px;
  }
  .navigation .site-header .nav-search .header-categories span {
    margin: 0 10px;
  }
  .navigation .site-header .nav-search .search-bar {
    padding: 12px;
  }
  .navigation .site-header .nav-menu {
    width: 180px;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories {
    font-size: 20px;
    width: 23%;
    padding: 0 5px;
  }
  .navigation .nav-bar .nav-bar-container .nav-links {
    display: block;
    font-size: 12px;
  }
  .navigation .nav-bar .nav-bar-container .nav-links .menu-link li a {
    margin: 0 5px;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact {
    padding-left: 2%;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact img {
    margin-right: 15px;
    width: 25px;
  }
  .navigation .nav-title {
    height: 150px;
  }
  .navigation .nav-title h2 {
    font-size: 30px;
    margin: 20px 0;
  }
  .navigation .nav-title span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 29px;
  }
  .navigation .nav-links {
    display: none;
  }
  .navigation .nav-links .menu-link {
    position: absolute;
    background-color: #f4f5f8;
    height: 100%;
    width: 100%;
    top: 50px;
  }
  .navigation .nav-links .menu-link li {
    padding: 18px 30px;
    border-bottom: 1px solid #d9d9d9;
  }
  .navigation .nav-links .menu-link li a {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    color: #191919;
    font-weight: 700;
  }
  .navigation .nav-links .menu-link li a i {
    font-size: 16px;
  }
  .navigation .nav-links .menu-link li ul {
    display: none;
  }
  .navigation .nav-links .menu-link li ul li {
    border: 0;
    padding: 8px 0px;
  }
  .navigation .nav-links .menu-link li ul li a {
    font-weight: 500;
  }
  .navigation .nav-links .menu-link li ul .nav-dropdown li a {
    font-weight: 400;
    padding: 0 10px;
  }
  .navigation .mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 11px 20px;
    align-items: center;
  }
  .navigation .mobile-nav img {
    width: 63px;
  }
  .navigation .mobile-nav .mobile-nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 138px;
  }
  .navigation .mobile-nav .mobile-nav-icons img {
    width: 18px;
  }
  .navigation .mobile-nav .mobile-nav-icons .menu-icon {
    background-color: #e73c17;
    padding: 5px;
    display: flex;
  }
  .navigation .nav-header,
  .navigation .site-header,
  .navigation .nav-bar {
    display: none;
  }
  .navigation .nav-title {
    height: 100px;
  }
  .navigation .nav-title ul {
    margin: 3px 0;
  }
  .navigation .nav-title ul li {
    font-size: 8px;
  }
  .navigation .nav-title ul li a {
    padding: 0 2px;
  }
  .navigation .nav-title h1 {
    margin: 8px 0;
  }
}
