* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
}
.navigation .nav-header {
  background-color: #2f333a;
  font-size: 13px;
  font-weight: 150;
  height: 60px;
}
.navigation .nav-header .nav-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 1760px;
  margin: 0 auto;
  height: 100%;
  font-size: 16px;
}
.navigation .nav-header .nav-header-container .rate {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .eng {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .eng p {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .eng .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .nav-header .nav-header-container .rate span {
  margin: 0 15px;
}
.navigation .nav-header .nav-header-container .rate .usd {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .usd p {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .usd .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 1760px;
  margin: 0 auto;
  height: 100%;
  font-size: 16px;
  color: #191919;
  padding: 42px 0;
  font-size: 20px;
}
.navigation .site-header .rate {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .eng {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .eng p {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .eng .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .site-header .rate span {
  margin: 0 15px;
}
.navigation .site-header .rate .usd {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .usd p {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .usd .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .site-header .nav-search {
  display: flex;
  align-items: center;
}
.navigation .site-header .nav-search input[type="text"] {
  outline: 0;
  font-family: "Inter";
  font-style: normal;
  border: 1px solid #f0f0f0;
}
.navigation .site-header .nav-search .header-categories {
  display: flex;
  align-items: center;
  border: 1px solid #f0f0f0;
  padding: 20px;
}
.navigation .site-header .nav-search .header-categories p {
  display: flex;
  align-items: center;
  margin: 0;
}
.navigation .site-header .nav-search .header-categories p .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin-left: 24px;
}
.navigation .site-header .nav-search .header-categories:hover {
  cursor: pointer;
}
.navigation .site-header .nav-search .search-bar {
  transition: 0.3s;
  background: #2f333a;
}
.navigation .site-header .nav-search .search-bar:hover {
  cursor: pointer;
  background-color: #e73c17;
}
.navigation .site-header .nav-search .categories {
  position: absolute;
  background-color: #fff;
  display: none;
  width: 165px;
  top: 160px;
}
.navigation .site-header .nav-search .categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.navigation .site-header .nav-search .categories ul li {
  padding: 18px 10px;
}
.navigation .site-header .nav-search .categories ul li:hover {
  background-color: #f4f5f8;
}
.navigation .site-header .nav-menu {
  display: flex;
  align-items: center;
}
.navigation .site-header .nav-menu .registration {
  display: flex;
}
.navigation .site-header .nav-menu .registration a {
  text-decoration: none;
  color: #191919;
}
.navigation .site-header .nav-menu .registration a:hover {
  text-decoration: underline;
}
.navigation .site-header .nav-menu .registration span {
  margin: 0 10px;
}
.navigation .site-header .nav-menu .nav-menu-button {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 25px;
}
.navigation .site-header .nav-menu .nav-menu-button img {
  margin: 0 5px;
}
.navigation .site-header .nav-menu .nav-menu-button .badge {
  background-color: #e23000;
  color: #fff;
  border-radius: 50px;
  height: 24px;
  width: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 12px;
  left: 45px;
}
.navigation .nav-bar {
  background-color: #2f333a;
  font-weight: 200;
  height: 78px;
}
.navigation .nav-bar .nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1760px;
  margin: 0 auto;
  color: #fff;
  height: 100%;
}
.navigation .nav-bar .nav-bar-container .nav-categories {
  display: flex;
  align-items: center;
  background-color: #e73c17;
  font-weight: 400;
  height: 100%;
}
.navigation .nav-bar .nav-bar-container .nav-categories p {
  margin: 0 25px;
}
.navigation .nav-bar .nav-bar-container .nav-categories .arrow {
  border: 1px solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
}
.navigation .nav-bar .nav-bar-container .nav-contact {
  display: flex;
  align-items: center;
  border-left: 1px solid;
  height: 100%;
}
.navigation .nav-bar .nav-bar-container .nav-contact img {
  margin: 0 33px;
  width: 40px;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text .contact-title {
  margin: 0;
  font-weight: 200;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text p {
  margin: 0;
  line-height: 1.5;
  text-align: end;
  font-size: 15px;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text p span {
  font-size: 18px;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text .num {
  font-weight: 400;
}
.navigation .nav-bar .nav-bar-container .nav-links {
  width: 700px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 10px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li {
  display: flex;
  align-items: center;
  position: relative;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul {
  padding: 0;
  position: absolute;
  top: 20px;
  background-color: #f4f5f8;
  color: #191919;
  display: block;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li a {
  text-decoration: none;
  color: #fff;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li ul {
  display: none;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li ul li {
  padding: 15px 5px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li ul li:hover {
  cursor: pointer;
}
.navigation .nav-title {
  text-align: center;
  background-color: #f4f5f8;
}
.navigation .nav-title p {
  margin: 24px 0;
  letter-spacing: 2.5px;
}
.navigation .mobile-nav {
  display: none;
}
.main-content {
  max-width: 1760px;
  margin: 0 auto;
}
.main-content .product-content {
  display: flex;
}
.main-content .product-content .selection-container .selection {
  border: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .product-content .selection-container .selection:nth-of-type(even) {
  margin: 27px 0;
}
.main-content .product-content .selection-container .selection:hover {
  cursor: pointer;
}
.main-content .product-content .selection-container .selected {
  border: 1px solid #e73c17;
}
.main-content .product-content .product-img-container .product-img {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}
.main-content .product-content .product-img-container .product-img img {
  width: 65%;
}
.main-content .product-content .product-img-container p {
  color: #6f6f6f;
}
.main-content .product-content .product-details p {
  margin-top: 0;
  font-size: 18px;
}
.main-content .product-content .product-details p span {
  font-weight: 500;
}
.main-content .product-content .product-details h2 {
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0;
}
.main-content .product-content .product-details ul {
  padding: 0 18px;
}
.main-content .product-content .product-details .variations-container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin: 25px 0 15px;
}
.main-content .product-content .product-details .variations-container .variation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6f6f6f;
}
.main-content .product-content .product-details .variations-container .variation:hover {
  cursor: pointer;
  border: 1px solid #e73c17;
}
.main-content .product-content .product-details .variations-container .selected {
  border: 1px solid #e73c17;
  color: #e73c17;
}
.main-content .product-content .product-details .discount {
  font-weight: 400;
}
.main-content .product-content .product-details .discount span {
  color: #d9d9d9;
  font-size: 22px;
  text-decoration: line-through;
  margin: 0 10px;
}
.main-content .product-content .product-details .product-buttons-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-content .product-content .product-details .product-buttons-container .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .product-content .product-details .product-buttons-container .input-box {
  display: flex;
  align-items: center;
  height: 65px;
  width: 202px;
}
.main-content .product-content .product-details .product-buttons-container .input-box button {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: 1px solid #f0f0f0;
  padding: 0;
  font-size: 38px;
}
.main-content .product-content .product-details .product-buttons-container .input-box p {
  width: 100%;
  height: 100%;
  border: 1px solid #f0f0f0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
.main-content .product-content .product-details .product-buttons-container #buy-button {
  background-color: #e73c17;
  color: #fff;
  transition: 0.3s;
}
.main-content .product-content .product-details .product-buttons-container #buy-button:hover {
  cursor: pointer;
  background-color: #e23000;
}
.main-content .product-content .product-details .product-buttons-container #cart-button {
  border: 1px solid #e73c17;
  color: #e73c17;
}
.main-content .product-content .product-details .product-buttons-container #cart-button:hover {
  cursor: pointer;
}
.main-content .information-container {
  margin: 90px 0 155px;
}
.main-content .information-container .info-title {
  border-bottom: 1px solid #f0f0f0;
}
.main-content .information-container .info-title ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-content .information-container .info-title ul li {
  font-size: 24px;
  font-weight: 500;
  line-height: 2.5;
  padding: 5px 0;
}
.main-content .information-container .info-title ul li:nth-of-type(even) {
  margin: 0 132px;
}
.main-content .information-container .info-title ul li:hover {
  cursor: pointer;
}
.main-content .information-container .info-title ul .selected {
  border-bottom: 1px solid #e73c17;
  padding: 5px 0;
}
.main-content .information-container .info-title #selected {
  border-bottom: 1px solid #e73c17;
}
.main-content .information-container .description {
  padding: 20px 21%;
}
.main-content .information-container .description p {
  line-height: 1.8;
  display: none;
  font-size: 18px;
}
.main-content .information-container .description .show {
  display: block;
}
.main-content .related-products-section .text-title {
  text-align: center;
  font-size: 21px;
}
.main-content .related-products-section .related-products-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-content .related-products-section .related-products-container .section .prod-container {
  background-color: #f1f1f1;
  text-align: center;
  width: 409px;
  height: 562px;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 25px;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges .tag {
  width: fit-content;
  color: #fff;
  padding: 6px 18px;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 300;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges .heart-border {
  border: 1px solid #d9d9d9;
  padding: 12px;
  border-radius: 50px;
  display: flex;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges #new {
  background-color: #12a05c;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges #discount {
  background-color: #e73c17;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges #hot {
  background-color: #ff9900;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges #warranty {
  background-color: #7f7cf6;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges img {
  margin: 0;
}
.main-content .related-products-section .related-products-container .section .prod-container #r-prod {
  margin: 125px 40px 94px;
  width: 275px;
}
.main-content .related-products-section .related-products-container .section .prod-container .cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 0 85px;
  color: #6f6f6f;
  transition: 0.3s;
  padding: 6px 0;
}
.main-content .related-products-section .related-products-container .section .prod-container .cart-button img {
  height: 18px;
  margin: 0;
}
.main-content .related-products-section .related-products-container .section .prod-container .cart-button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  cursor: pointer;
}
.main-content .related-products-section .related-products-container .section .prod-container .cart-button p {
  margin-left: 12px;
  font-weight: 600;
}
.main-content .related-products-section .related-products-container .section .label {
  background-color: #fff;
  text-align: center;
  padding: 13px 0;
  font-size: 20px;
}
.main-content .related-products-section .related-products-container .section .label #price {
  font-weight: 700;
}
.main-content .related-products-section .related-products-container .section .label #price span {
  color: #d9d9d9;
  margin: 0 10px;
  text-decoration: line-through;
}
.footer {
  margin-top: 150px;
}
.footer .panel-wrapper {
  background-color: #2f333a;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .panel-wrapper #wrapper {
  filter: brightness(0.7);
  width: 100%;
}
.footer .panel-wrapper .subscription-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
  position: absolute;
}
.footer .panel-wrapper .subscription-container .newsletter {
  display: flex;
  align-items: center;
}
.footer .panel-wrapper .subscription-container .newsletter .newsletter-text {
  color: #fff;
}
.footer .panel-wrapper .subscription-container .newsletter .newsletter-text p {
  margin: 0;
  font-weight: 300;
}
.footer .panel-wrapper .subscription-container .newsletter .newsletter-text h2 {
  margin: 0;
  font-weight: 400;
}
.footer .panel-wrapper .subscription-container .email-container {
  display: flex;
}
.footer .panel-wrapper .subscription-container .email-container input[type="text"] {
  outline: 0;
  border: 0;
  padding: 10px 37px;
}
.footer .panel-wrapper .subscription-container .email-container ::placeholder {
  font-family: "Inter";
  font-size: normal;
}
.footer .panel-wrapper .subscription-container .email-container .subscribe-button {
  background-color: #e73c17;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.footer .panel-wrapper .subscription-container .email-container .subscribe-button:hover {
  cursor: pointer;
  background-color: #e23000;
}
.footer .panel-wrapper .subscription-container .email-container p {
  margin: 0;
}
.footer .page-footer {
  background-color: #2f333a;
}
.footer .page-footer .page-footer-container {
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
  font-weight: 200;
  color: #fff;
  max-width: 1760px;
  margin: 0 auto;
}
.footer .page-footer .page-footer-container h2 {
  font-weight: 400;
}
.footer .page-footer .page-footer-container .about p {
  margin: 24px 0;
  font-size: 18px;
}
.footer .page-footer .page-footer-container .about .social-logos img {
  width: 30px;
  transition: 0.4s;
}
.footer .page-footer .page-footer-container .about .social-logos img:hover {
  transform: translate(0, -8px);
  cursor: pointer;
}
.footer .page-footer .page-footer-container .about .social-logos img:nth-of-type(even) {
  margin: 0 16px;
}
.footer .page-footer .page-footer-container .footer-links {
  display: flex;
  justify-content: space-between;
}
.footer .page-footer .page-footer-container .footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .page-footer .page-footer-container .footer-links ul li {
  transition: 0.3s;
  font-size: 18px;
}
.footer .page-footer .page-footer-container .footer-links ul li:hover {
  color: #e73c17;
  cursor: pointer;
}
.footer .page-footer .page-footer-container .footer-contacts p {
  font-size: 18px;
  margin: 14px 0 10px;
}
.footer .page-footer .page-footer-container .footer-contacts p span {
  color: #e73c17;
}
.footer .page-footer .page-footer-container .footer-contacts .other-contacts {
  display: flex;
  align-items: center;
}
.footer .page-footer .page-footer-container .footer-contacts .other-contacts img {
  margin-right: 10px;
}
.footer .page-footer .copyright-section {
  margin-top: 72px;
  text-align: center;
  border-top: 1px solid #fff;
  padding: 37px 0;
  color: #fff;
}
@media only screen and (min-width: 1025px) {
  .navigation {
    margin-bottom: 90px;
  }
  .navigation .site-header .logo img {
    width: 160px;
  }
  .navigation .site-header .nav-search input[type="text"] {
    font-size: 20px;
    padding: 20px;
    width: 600px;
  }
  .navigation .site-header .nav-search .search-bar {
    padding: 17px;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories {
    font-size: 24px;
    padding: 18px 64px;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact {
    padding-left: 60px;
  }
  .navigation .nav-bar .nav-bar-container .nav-links {
    font-size: 16px;
  }
  .navigation .nav-title {
    padding: 60px 0;
  }
  .navigation .nav-title h2 {
    font-size: 40px;
    margin: 20px 0;
  }
  .navigation .nav-title p {
    font-size: 18px;
  }
  .main-content .product-content .selection-container {
    width: 15%;
  }
  .main-content .product-content .selection-container .selection {
    height: 150px;
  }
  .main-content .product-content .selection-container .selection img {
    width: 80%;
  }
  .main-content .product-content .selection-container .selection:hover {
    cursor: pointer;
  }
  .main-content .product-content .product-img-container {
    width: 50%;
    margin: 0 25px;
  }
  .main-content .product-content .product-img-container .product-img {
    padding: 208px 0;
  }
  .main-content .product-content .product-img-container p {
    margin: 35px 0;
    font-size: 14px;
  }
  .main-content .product-content .product-details {
    width: 57%;
  }
  .main-content .product-content .product-details .star-rates {
    margin: 15px 0;
  }
  .main-content .product-content .product-details .star-rates img:nth-of-type(even) {
    margin: 0 5px;
  }
  .main-content .product-content .product-details ul {
    margin: -5px 0;
    line-height: 2;
    font-size: 18px;
  }
  .main-content .related-products-section .related-products-container {
    margin: 93px 0 220px;
  }
  .footer .panel-wrapper .subscription-container {
    padding: 0 150px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text {
    margin-left: 29px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text p {
    font-size: 20px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text h2 {
    font-size: 28px;
  }
  .footer .panel-wrapper .subscription-container .email-container input[type="text"] {
    width: 446px;
    height: 65px;
    font-size: 20px;
  }
  .footer .panel-wrapper .subscription-container .email-container .subscribe-button {
    width: 266px;
    font-size: 20px;
  }
  .footer .page-footer .page-footer-container {
    padding: 30px 0;
  }
  .footer .page-footer .page-footer-container h2 {
    font-size: 24px;
  }
  .footer .page-footer .page-footer-container .about {
    width: 20%;
  }
  .footer .page-footer .page-footer-container .footer-links {
    width: 665px;
  }
  .footer .page-footer .page-footer-container .footer-contacts {
    width: 341px;
  }
}
@media only screen and (max-width: 1024px) {
  .navigation {
    margin-bottom: 80px;
  }
  .navigation .site-header .logo img {
    width: 110px;
  }
  .navigation .site-header .nav-search {
    display: flex;
  }
  .navigation .site-header .nav-search input[type="text"] {
    padding: 15px;
    width: 240px;
    font-size: 13px;
  }
  .navigation .site-header .nav-search .header-categories {
    padding: 15px;
    font-size: 13px;
  }
  .navigation .site-header .nav-search .search-bar {
    padding: 12px;
  }
  .navigation .site-header .nav-menu {
    font-size: 13px;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories {
    font-size: 20px;
    padding: 18px 35px;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories p {
    font-size: 15px;
  }
  .navigation .nav-bar .nav-bar-container .nav-links {
    font-size: 13px;
  }
  .navigation .nav-title {
    padding: 40px 0;
  }
  .navigation .nav-title h2 {
    font-size: 30px;
    margin: 20px 0;
  }
  .navigation .nav-title p {
    font-size: 14px;
  }
  .main-content .product-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-content .product-content .product-img-container {
    width: 70%;
    margin-left: 25px;
  }
  .main-content .product-content .product-img-container .product-img {
    padding: 111px 0;
  }
  .main-content .product-content .product-details {
    width: 100%;
    padding: 0 40px;
  }
  .main-content .product-content .product-details .star-rates {
    margin: 15px 0;
  }
  .main-content .product-content .product-details .star-rates img:nth-of-type(even) {
    margin: 0 5px;
  }
  .main-content .product-content .product-details ul {
    margin: -5px 0;
    line-height: 1.5;
    font-size: 15px;
  }
  .main-content .product-content .product-details .variations-container {
    font-size: 18px;
    padding: 32px 0;
  }
  .main-content .product-content .product-details .variations-container .variation {
    height: 60px;
    width: 200px;
  }
  .main-content .product-content .product-details .discount {
    font-size: 32px;
  }
  .main-content .product-content .product-details .product-buttons-container {
    margin: 15px 0;
  }
  .main-content .product-content .product-details .product-buttons-container .container {
    width: 200px;
    height: 62px;
    font-size: 18px;
  }
  .main-content .product-content .product-details .product-buttons-container .container:nth-of-type(even) {
    margin: 0 34px;
  }
  .footer .panel-wrapper .subscription-container {
    padding: 0 40px;
  }
  .footer .panel-wrapper .subscription-container .newsletter img {
    width: 40px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text {
    margin-left: 10px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text p {
    font-size: 12px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text h2 {
    font-size: 18px;
  }
  .footer .panel-wrapper .subscription-container .email-container input[type="text"] {
    width: 230px;
    height: 40px;
    font-size: 16px;
  }
  .footer .panel-wrapper .subscription-container .email-container .subscribe-button {
    width: 120px;
    font-size: 15px;
  }
  .footer .page-footer .page-footer-container {
    padding: 30px 40px;
    flex-wrap: wrap;
  }
  .footer .page-footer .page-footer-container .about {
    width: 45%;
  }
  .footer .page-footer .page-footer-container .about h2 {
    font-size: 18px;
  }
  .footer .page-footer .page-footer-container .about p {
    font-size: 13px;
  }
  .footer .page-footer .page-footer-container .footer-links {
    width: 50%;
  }
  .footer .page-footer .page-footer-container .footer-links ul h2 {
    font-size: 18px;
  }
  .footer .page-footer .page-footer-container .footer-links ul li {
    font-size: 13px;
  }
  .footer .page-footer .page-footer-container .footer-contacts {
    width: 70%;
    display: flex;
  }
  .footer .page-footer .page-footer-container .footer-contacts h2 {
    font-size: 18px;
  }
  .footer .page-footer .page-footer-container .footer-contacts p {
    font-size: 13px;
  }
  .footer .page-footer .page-footer-container .footer-contacts .other-contacts {
    margin: 0 10px;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 46px;
  }
  .navigation .mobile-nav {
    justify-content: space-between;
    padding: 17px 30px;
    align-items: center;
  }
  .navigation .mobile-nav img {
    width: 100px;
  }
  .navigation .mobile-nav .mobile-nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 208px;
  }
  .navigation .mobile-nav .mobile-nav-icons img {
    width: 25px;
  }
  .navigation .mobile-nav .mobile-nav-icons .menu-icon {
    background-color: #e73c17;
    padding: 10px;
  }
  .navigation .nav-title {
    padding: 23px 0;
  }
  .navigation .nav-title h2 {
    font-size: 20px;
    margin: 19px 0;
  }
  .navigation .nav-title p {
    margin: 17px 0;
    letter-spacing: 1.9px;
    font-size: 12px;
  }
  .main-content {
    padding: 0 30px;
  }
  .main-content .product-content .product-img-container {
    margin: 0;
    width: 100%;
  }
  .main-content .product-content .product-img-container .product-img {
    padding: 71px 0;
  }
  .main-content .product-content .product-img-container .product-img img {
    width: 79%;
  }
  .main-content .product-content .product-img-container p {
    font-size: 9px;
  }
  .main-content .product-content .selection-container {
    display: flex;
    margin: 10px 0;
  }
  .main-content .product-content .selection-container .selection {
    height: 132px;
    margin: 0 25px;
    width: 123px;
  }
  .main-content .product-content .selection-container .selection:nth-of-type(1) {
    display: none;
  }
  .main-content .product-content .selection-container .selection:nth-of-type(even) {
    margin: 0;
  }
  .main-content .product-content .selection-container .selection img {
    width: 102px;
  }
  .main-content .product-content .product-details {
    margin: 15px 0;
    padding: 0;
  }
  .main-content .product-content .product-details p {
    font-size: 12px;
  }
  .main-content .product-content .product-details h2 {
    font-size: 19px;
  }
  .main-content .product-content .product-details .star-rates {
    margin: 14px 0 10px;
  }
  .main-content .product-content .product-details .star-rates img {
    width: 16px;
  }
  .main-content .product-content .product-details .star-rates img:nth-of-type(even) {
    margin: 0;
  }
  .main-content .product-content .product-details ul {
    margin: 0;
    line-height: 2.4;
    font-size: 12px;
  }
  .main-content .product-content .product-details .variations-container {
    font-size: 10px;
    padding: 25px 0 7px;
    margin: 25px 0 10px;
  }
  .main-content .product-content .product-details .variations-container .variation {
    height: 34px;
    width: 98px;
    margin: 0 9px 14px 0;
  }
  .main-content .product-content .product-details .discount {
    font-size: 20px;
  }
  .main-content .product-content .product-details .discount span {
    font-size: 15px;
    margin: 0 3px;
  }
  .main-content .product-content .product-details .product-buttons-container {
    margin: 24px 0;
  }
  .main-content .product-content .product-details .product-buttons-container .container {
    font-size: 12px;
    width: 105px;
    height: 38px;
  }
  .main-content .product-content .product-details .product-buttons-container .container:nth-of-type(even) {
    margin: 0 15px;
  }
  .main-content .product-content .product-details .product-buttons-container .input-box {
    width: 105px;
    height: 38px;
  }
  .main-content .product-content .product-details .product-buttons-container .input-box button {
    font-size: 28px;
  }
  .main-content .product-content .product-details .product-buttons-container .input-box p {
    font-size: 18px;
  }
  .main-content .information-container {
    margin: 0;
  }
  .main-content .information-container .info-title ul li {
    font-size: 16px;
  }
  .main-content .information-container .info-title ul li:nth-of-type(even) {
    margin: 0 38px;
  }
  .main-content .information-container .description {
    padding: 0;
  }
  .main-content .information-container .description p {
    font-size: 12px;
  }
  .main-content .information-container .description span {
    display: none;
  }
  .main-content .related-products-section {
    margin: 71px 0;
  }
  .main-content .related-products-section .text-title {
    font-size: 10px;
  }
  .main-content .related-products-section .related-products-container {
    flex-wrap: nowrap;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
  }
  .main-content .related-products-section .related-products-container .section {
    width: 200px;
  }
  .main-content .related-products-section .related-products-container .section:nth-of-type(1) {
    margin-right: 2px;
  }
  .main-content .related-products-section .related-products-container .section:nth-of-type(2) {
    margin-left: 2px;
  }
  .main-content .related-products-section .related-products-container .section:nth-of-type(3) {
    display: none;
  }
  .main-content .related-products-section .related-products-container .section:nth-of-type(4) {
    display: none;
  }
  .main-content .related-products-section .related-products-container .section .prod-container {
    width: 100%;
    height: 311px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container #r-prod {
    width: 130px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges {
    padding: 7px 10px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges .tag {
    padding: 3px 13px;
    font-size: 9px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges .heart-border {
    padding: 5px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges .heart-border img {
    width: 18px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container #r-prod {
    margin: 56px 0;
    width: 150px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .cart-button {
    margin: 0 32px;
    height: 40px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .cart-button p {
    font-size: 13px;
  }
  .main-content .related-products-section .related-products-container .section .label p {
    margin: 0;
    font-size: 13px;
  }
  .main-content .related-products-section .related-products-container .section .label #price {
    font-size: 15px;
    margin: 5px 0;
  }
  .footer {
    margin-top: 110px;
  }
  .footer .panel-wrapper .subscription-container {
    flex-direction: column;
    padding: 0 30px;
  }
  .footer .panel-wrapper .subscription-container .newsletter {
    margin: 17px 0;
    width: 100%;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text h2 {
    font-size: 20px;
    margin: 6px 0;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text p {
    font-size: 15px;
  }
  .footer .panel-wrapper .subscription-container .newsletter img {
    width: 31px;
    height: 31px;
  }
  .footer .panel-wrapper .subscription-container .email-container {
    margin: 25px 0;
    width: 100%;
  }
  .footer .panel-wrapper .subscription-container .email-container input[type="text"] {
    width: 100%;
    height: 56px;
    padding: 10px 23px;
  }
  .footer .panel-wrapper .subscription-container .email-container .subscribe-button {
    width: 253px;
  }
  .footer .page-footer .page-footer-container {
    display: block;
    padding: 16px 30px;
  }
  .footer .page-footer .page-footer-container .about {
    width: 100%;
    padding: 8px 20px;
    margin: 30px 0;
    background-color: #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer .page-footer .page-footer-container .about h2 {
    margin: 0;
    font-size: 15px;
  }
  .footer .page-footer .page-footer-container .about p {
    display: none;
  }
  .footer .page-footer .page-footer-container .about .social-logos {
    display: none;
  }
  .footer .page-footer .page-footer-container .about .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .footer .page-footer .page-footer-container .footer-links {
    display: block;
    width: 100%;
  }
  .footer .page-footer .page-footer-container .footer-links ul {
    background-color: #6f6f6f;
    margin: 30px 0;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer .page-footer .page-footer-container .footer-links ul h2 {
    margin: 0;
  }
  .footer .page-footer .page-footer-container .footer-links ul li {
    display: none;
  }
  .footer .page-footer .page-footer-container .footer-links ul .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .footer .page-footer .page-footer-container .footer-contacts {
    display: block;
    background-color: #6f6f6f;
    width: 100%;
    margin: 30px 0;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer .page-footer .page-footer-container .footer-contacts .contact-info h2 {
    margin: 0;
  }
  .footer .page-footer .page-footer-container .footer-contacts .contact-info p {
    display: none;
  }
  .footer .page-footer .page-footer-container .footer-contacts .other-contacts {
    display: none;
  }
  .footer .page-footer .page-footer-container .footer-contacts .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .footer .page-footer .copyright-section {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .footer .page-footer .copyright-section .cards img {
    width: 31px;
  }
  .footer .page-footer .copyright-section .cards img:nth-of-type(even) {
    margin: 0 2px;
  }
  .footer .page-footer .copyright-section p {
    font-size: 10px;
    margin: 12px 0;
  }
}
