@import "variables.css";
@media only screen and (min-width: 1025px) {
  span,
  a,
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  span,
  a,
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 15px;
  }
}
.navigation .nav-header {
  background-color: #2f333a;
  height: 60px;
}
.navigation .nav-header .nav-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  height: 100%;
  max-width: 1800px;
  font-weight: 150;
}
.navigation .nav-header .nav-header-container .rate {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .currency {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .currency span {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.navigation .nav-header .nav-header-container .rate .currency:hover {
  cursor: pointer;
}
.navigation .nav-header .nav-header-container .rate .currency + .currency:before {
  content: "|";
  margin: 0 20px;
}
.navigation .nav-header .nav-header-container .rate .border {
  margin: 0 17px;
}
.navigation .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  max-width: 1800px;
  color: #191919;
}
.navigation .site-header .nav-search {
  display: flex;
  align-items: center;
}
.navigation .site-header .nav-search input[type="text"] {
  border: 1px solid #f0f0f0;
}
.navigation .site-header .nav-search input[type="text"]:focus {
  border: 1px solid #191919;
}
.navigation .site-header .nav-search .header-categories {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f0f0f0;
  white-space: nowrap;
}
.navigation .site-header .nav-search .header-categories .categories {
  position: absolute;
  width: 100%;
  background-color: #fff;
  display: none;
  top: 70px;
  text-align: center;
}
.navigation .site-header .nav-search .header-categories .categories ul {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.navigation .site-header .nav-search .header-categories .categories ul li {
  padding: 20px 0;
}
.navigation .site-header .nav-search .header-categories .categories ul li:hover {
  background-color: #f4f5f8;
}
.navigation .site-header .nav-search .header-categories span:after {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin-left: 20px;
  content: "";
}
.navigation .site-header .nav-search .search-bar {
  transition: 0.3s;
  background: #2f333a;
  height: inherit;
}
.navigation .site-header .nav-search .search-bar:hover:enabled {
  cursor: pointer;
  background-color: #e73c17;
}
.navigation .site-header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .site-header .nav-menu .registration {
  display: flex;
}
.navigation .site-header .nav-menu .registration a {
  color: #191919;
}
.navigation .site-header .nav-menu .registration a:hover {
  text-decoration: underline;
}
.navigation .site-header .nav-menu .registration span {
  margin: 0 10px;
}
.navigation .site-header .nav-menu .nav-menu-button {
  display: flex;
  align-items: center;
  position: relative;
}
.navigation .site-header .nav-menu .nav-menu-button img {
  margin: 0 5px;
}
.navigation .site-header .nav-menu .nav-menu-button img:hover {
  cursor: pointer;
}
.navigation .site-header .nav-menu .nav-menu-button .badge {
  background-color: #e23000;
  color: #fff;
  border-radius: 50px;
  height: 24px;
  width: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 12px;
  left: 45px;
}
.navigation .nav-bar {
  background-color: #2f333a;
  font-weight: 200;
  height: 78px;
}
.navigation .nav-bar .nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  height: 100%;
  max-width: 1760px;
}
.navigation .nav-bar .nav-bar-container .nav-categories {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e73c17;
  font-weight: 400;
  height: 100%;
  padding: 0 30px;
}
.navigation .nav-bar .nav-bar-container .nav-categories:hover {
  cursor: pointer;
}
.navigation .nav-bar .nav-bar-container .nav-categories h3 {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 400;
}
.navigation .nav-bar .nav-bar-container .nav-categories .nav-categories-dropdown {
  display: none;
  position: absolute;
  top: 77px;
  width: 100%;
  text-align: center;
}
.navigation .nav-bar .nav-bar-container .nav-categories .nav-categories-dropdown ul li {
  padding: 20px 0;
  background-color: #e73c17;
}
.navigation .nav-bar .nav-bar-container .nav-categories .nav-categories-dropdown ul li:hover {
  background-color: #e23000;
}
.navigation .nav-bar .nav-bar-container .nav-categories .nav-categories-dropdown ul li a {
  color: #fff;
}
.navigation .nav-bar .nav-bar-container .nav-contact {
  display: flex;
  align-items: center;
  justify-content: end;
  border-left: 1px solid;
  height: 100%;
}
.navigation .nav-bar .nav-bar-container .nav-contact img {
  margin-right: 33px;
  width: 40px;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text a {
  color: #fff;
  font-weight: 400;
  text-align: end;
  transition: 0.3s;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text a:hover {
  color: #e73c17;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link {
  display: flex;
  justify-content: space-between;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li {
  position: relative;
  display: flex;
  align-items: center;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul {
  position: absolute;
  top: 20px;
  background-color: #2f333a;
  display: block;
  width: 124px;
  font-weight: 400;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul li {
  padding: 15px 5px;
  color: #fff;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul li:hover {
  cursor: pointer;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul li ul {
  display: none;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul .nav-dropdown:hover ul {
  display: block;
  position: absolute;
  left: 124px;
  top: 2px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul .nav-dropdown:hover ul li:hover {
  color: #e73c17;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li a {
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li a:hover {
  color: #e73c17;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li ul {
  display: none;
}
.navigation .nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f5f8;
}
.navigation .nav-title ul {
  display: flex;
  letter-spacing: 1.5px;
}
.navigation .nav-title ul li + li:before {
  content: "/";
  display: inline;
}
.navigation .nav-title ul a {
  color: #191919;
}
.navigation .nav-title ul a:hover {
  color: #e73c17;
  transition: 0.3s;
  text-decoration: underline;
}
.navigation .mobile-nav {
  display: none;
}
@media only screen and (min-width: 1025px) {
  .navigation {
    margin-bottom: 102px;
  }
  .navigation .nav-header .nav-header-container {
    padding: 0 20px;
  }
  .navigation .nav-header span {
    font-size: 16px;
  }
  .navigation .site-header {
    padding: 39px 20px;
  }
  .navigation .site-header .logo img {
    width: 160px;
  }
  .navigation .site-header .nav-search {
    width: 53%;
    height: 70px;
  }
  .navigation .site-header .nav-search input[type="text"] {
    padding: 0 43px;
    width: 69%;
    height: inherit;
    font-size: 20px;
  }
  .navigation .site-header .nav-search .header-categories {
    width: 205px;
    height: inherit;
  }
  .navigation .site-header .nav-search .header-categories span {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  .navigation .site-header .nav-search .search-bar {
    width: 63px;
  }
  .navigation .site-header .nav-menu {
    width: 227px;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories {
    width: 21%;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories i {
    font-size: 30px;
  }
  .navigation .nav-bar .nav-bar-container .nav-links {
    margin: 0 30px;
    width: 630px;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact {
    padding-left: 4%;
  }
  .navigation .nav-title {
    height: 250px;
  }
  .navigation .nav-title h1 {
    margin: 10px 0;
  }
  .navigation .nav-title ul {
    margin: 10px 0;
  }
  .navigation .nav-title ul li {
    font-size: 18px;
  }
  .navigation .nav-title ul li a {
    padding: 8px;
  }
}
@media only screen and (max-width: 1024px) {
  .navigation {
    margin-bottom: 80px;
  }
  .navigation .nav-header .nav-header-container {
    padding: 0 20px;
  }
  .navigation .nav-header .nav-header-container span {
    font-size: 12px;
  }
  .navigation .site-header {
    padding: 42px 20px;
  }
  .navigation .site-header .logo img {
    width: 110px;
  }
  .navigation .site-header .nav-search {
    display: flex;
    width: 50%;
  }
  .navigation .site-header .nav-search input[type="text"] {
    padding: 15px;
    width: 100%;
  }
  .navigation .site-header .nav-search .header-categories {
    height: 51px;
    width: 226px;
  }
  .navigation .site-header .nav-search .header-categories span {
    margin: 0 10px;
  }
  .navigation .site-header .nav-search .search-bar {
    padding: 12px;
  }
  .navigation .site-header .nav-menu {
    width: 180px;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories {
    font-size: 20px;
    width: 23%;
  }
  .navigation .nav-bar .nav-bar-container .nav-links {
    font-size: 12px;
    width: 400px;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact {
    padding-left: 2%;
  }
  .navigation .nav-bar .nav-bar-container .nav-contact img {
    margin-right: 15px;
    width: 25px;
  }
  .navigation .nav-title {
    padding: 40px 0;
  }
  .navigation .nav-title h2 {
    font-size: 30px;
    margin: 20px 0;
  }
  .navigation .nav-title span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 29px;
  }
  .navigation .nav-links {
    display: none;
  }
  .navigation .nav-links .menu-link {
    position: absolute;
    background-color: #f4f5f8;
    height: 100%;
    width: 100%;
    top: 50px;
  }
  .navigation .nav-links .menu-link li {
    padding: 18px 30px;
    font-size: 10px;
    border-bottom: 1px solid #d9d9d9;
  }
  .navigation .nav-links .menu-link li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #191919;
    font-weight: 700;
  }
  .navigation .nav-links .menu-link li .arrow {
    border: 1px solid;
    border-width: 0 1px 1px 0;
    display: inline-block;
    transform: rotate(45deg);
    padding: 3px;
  }
  .navigation .nav-links .menu-link li ul {
    display: none;
  }
  .navigation .nav-links .menu-link li ul a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation .nav-links .menu-link li ul li {
    border: 0;
    padding: 8px 12px;
  }
  .navigation .nav-links .menu-link li ul li a {
    font-weight: 500;
  }
  .navigation .mobile-nav {
    justify-content: space-between;
    padding: 11px 20px;
    align-items: center;
  }
  .navigation .mobile-nav img {
    width: 63px;
  }
  .navigation .mobile-nav .mobile-nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 138px;
  }
  .navigation .mobile-nav .mobile-nav-icons img {
    width: 18px;
  }
  .navigation .mobile-nav .mobile-nav-icons .menu-icon {
    background-color: #e73c17;
    padding: 5px;
    display: flex;
  }
  .navigation .nav-title {
    padding: 25px 0;
  }
  .navigation .nav-title h2 {
    font-size: 14px;
    margin: 5px 0;
  }
  .navigation .nav-title span {
    margin: 5px 0;
    letter-spacing: 1.2px;
    font-size: 8px;
  }
}
.main-content {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-content .product-content {
  display: flex;
}
.main-content .product-content .selection-container .selection {
  border: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .product-content .selection-container .selection:nth-of-type(even) {
  margin: 38px 0;
}
.main-content .product-content .selection-container .selection:hover {
  cursor: pointer;
}
.main-content .product-content .selection-container .selected {
  border: 1px solid #e73c17;
}
.main-content .product-content .product-img-container .product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  height: 100%;
}
.main-content .product-content .product-img-container .product-img img {
  width: 90%;
}
.main-content .product-content .product-img-container p {
  color: #6f6f6f;
  margin: 35px 0;
}
.main-content .product-content .product-details .product-attr {
  display: flex;
  flex-direction: column;
}
.main-content .product-content .product-details .product-attr span {
  margin-bottom: 10px;
}
.main-content .product-content .product-details span span {
  font-weight: 500;
}
.main-content .product-content .product-details h2 {
  font-weight: 500;
}
.main-content .product-content .product-details ul {
  padding: 0 18px;
}
.main-content .product-content .product-details ul li {
  list-style-type: disc;
}
.main-content .product-content .product-details .variations-container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.main-content .product-content .product-details .variations-container .variation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6f6f6f;
}
.main-content .product-content .product-details .variations-container .variation:hover {
  cursor: pointer;
  border: 1px solid #e73c17;
}
.main-content .product-content .product-details .variations-container .selected {
  border: 1px solid #e73c17;
  color: #e73c17;
}
.main-content .product-content .product-details .discount {
  font-weight: 400;
}
.main-content .product-content .product-details .discount span {
  color: #d9d9d9;
  font-size: 22px;
  text-decoration: line-through;
  margin: 0 10px;
}
.main-content .product-content .product-details .product-buttons-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-content .product-content .product-details .product-buttons-container .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .product-content .product-details .product-buttons-container .input-box {
  display: flex;
  align-items: center;
  height: 65px;
  width: 202px;
}
.main-content .product-content .product-details .product-buttons-container .input-box button {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: 1px solid #f0f0f0;
  font-size: 38px;
}
.main-content .product-content .product-details .product-buttons-container .input-box input {
  width: 100%;
  height: 100%;
  border: 1px solid #f0f0f0;
  text-align: center;
  font-size: 30px;
}
.main-content .product-content .product-details .product-buttons-container .input-box input::-webkit-outer-spin-button,
.main-content .product-content .product-details .product-buttons-container .input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.main-content .product-content .product-details .product-buttons-container #buy-button {
  background-color: #e73c17;
  color: #fff;
  transition: 0.3s;
}
.main-content .product-content .product-details .product-buttons-container #buy-button:hover {
  cursor: pointer;
  background-color: #e23000;
}
.main-content .product-content .product-details .product-buttons-container #cart-button {
  border: 1px solid #e73c17;
  color: #e73c17;
}
.main-content .product-content .product-details .product-buttons-container #cart-button:hover {
  cursor: pointer;
}
.main-content .information-container {
  margin: 69px 0 140px;
}
.main-content .information-container .info-title {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;
}
.main-content .information-container .info-title h3 {
  font-weight: 500;
  line-height: 2.5;
  padding: 5px 0;
}
.main-content .information-container .info-title h3:nth-of-type(even) {
  margin: 0 112px;
}
.main-content .information-container .info-title h3:hover {
  cursor: pointer;
}
.main-content .information-container .info-title .selected {
  border-bottom: 1px solid #e73c17;
  padding: 5px 0;
}
.main-content .information-container .info-title #selected {
  border-bottom: 1px solid #e73c17;
}
.main-content .information-container .description {
  padding: 36px 22%;
}
.main-content .information-container .description p {
  line-height: 1.8;
  display: none;
  font-size: 18px;
}
.main-content .information-container .description .show {
  display: block;
}
.main-content .related-products-section .text-title {
  text-align: center;
  font-size: 21px;
}
.main-content .related-products-section .related-products-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 93px;
}
.main-content .related-products-section .related-products-container .section .prod-container {
  background-color: #f1f1f1;
  text-align: center;
  margin-bottom: 30px;
  width: 409px;
  height: 562px;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges {
  display: flex;
  justify-content: space-between;
  padding: 27px 25px;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges .tag {
  width: fit-content;
  color: #fff;
  padding: 6px 18px;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 300;
  height: 26px;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges .heart-border {
  border: 1px solid #d9d9d9;
  padding: 12px;
  border-radius: 50px;
  display: flex;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges .heart-border:hover {
  border: 1px solid #e73c17;
  cursor: pointer;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges #new {
  background-color: #12a05c;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges #discount {
  background-color: #e73c17;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges #hot {
  background-color: #ff9900;
}
.main-content .related-products-section .related-products-container .section .prod-container .badges #warranty {
  background-color: #7f7cf6;
}
.main-content .related-products-section .related-products-container .section .prod-container .quick-view-container {
  position: relative;
}
.main-content .related-products-section .related-products-container .section .prod-container .quick-view-container img {
  position: absolute;
  right: 40px;
}
.main-content .related-products-section .related-products-container .section .prod-container .quick-view-container img:hover {
  cursor: pointer;
}
.main-content .related-products-section .related-products-container .section .prod-container #r-prod {
  margin: 92px 40px 80px;
  width: 275px;
}
.main-content .related-products-section .related-products-container .section .prod-container .cart-button {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.main-content .related-products-section .related-products-container .section .prod-container .cart-button button {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px 53px;
}
.main-content .related-products-section .related-products-container .section .prod-container .cart-button button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  cursor: pointer;
}
.main-content .related-products-section .related-products-container .section .prod-container .cart-button img {
  height: 18px;
}
.main-content .related-products-section .related-products-container .section .prod-container .cart-button p {
  margin: 12px;
  font-weight: 600;
}
.main-content .related-products-section .related-products-container .section .label {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  padding: 13px 0;
  font-size: 20px;
}
.main-content .related-products-section .related-products-container .section .label .price {
  font-weight: 700;
  margin: 10px 0;
}
.main-content .related-products-section .related-products-container .section .label .price span {
  color: #d9d9d9;
  margin: 0 10px;
  text-decoration: line-through;
}
@media only screen and (min-width: 1025px) {
  .main-content .product-content .selection-container {
    width: 15%;
  }
  .main-content .product-content .selection-container .selection {
    height: 150px;
  }
  .main-content .product-content .selection-container .selection img {
    width: 80%;
  }
  .main-content .product-content .selection-container .selection:hover {
    cursor: pointer;
  }
  .main-content .product-content .product-img-container {
    width: 50%;
    height: 717px;
    margin: 0 30px;
  }
  .main-content .product-content .product-details {
    width: 56%;
  }
  .main-content .product-content .product-details h2 {
    text-transform: uppercase;
    margin: 6px 0;
  }
  .main-content .product-content .product-details .variations-container {
    margin: 47px 0 5px;
    padding: 10px 0;
  }
  .main-content .product-content .product-details .variations-container .variation {
    width: 201px;
    height: 77px;
    font-size: 20px;
  }
  .main-content .product-content .product-details .product-buttons-container {
    margin: 10px 0;
  }
  .main-content .product-content .product-details .product-buttons-container .container {
    font-size: 20px;
    height: 64px;
    width: 200px;
    margin: 0 29px 29px 0;
  }
  .main-content .product-content .product-details .star-rates {
    margin: 17px 0;
  }
  .main-content .product-content .product-details .star-rates img:nth-of-type(even) {
    margin: 0 5px;
  }
  .main-content .product-content .product-details ul {
    margin: -5px 0;
    line-height: 2;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .main-content .product-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-content .product-content .selection-container .selection {
    width: 157px;
    height: 120px;
  }
  .main-content .product-content .selection-container .selection img {
    width: 75%;
  }
  .main-content .product-content .product-img-container {
    width: 70%;
    margin-left: 25px;
  }
  .main-content .product-content .product-img-container .product-img {
    padding: 111px 0;
  }
  .main-content .product-content .product-details {
    width: 100%;
    padding: 0 40px;
    margin: 75px 0;
  }
  .main-content .product-content .product-details .star-rates {
    margin: 15px 0;
  }
  .main-content .product-content .product-details .star-rates img:nth-of-type(even) {
    margin: 0 5px;
  }
  .main-content .product-content .product-details ul {
    margin: -5px 0;
    line-height: 1.5;
    font-size: 15px;
  }
  .main-content .product-content .product-details .variations-container {
    font-size: 18px;
    padding: 32px 0;
  }
  .main-content .product-content .product-details .variations-container .variation {
    height: 60px;
    width: 200px;
  }
  .main-content .product-content .product-details .discount {
    font-size: 32px;
  }
  .main-content .product-content .product-details .product-buttons-container {
    margin: 15px 0;
    display: flex;
    justify-content: space-evenly;
  }
  .main-content .product-content .product-details .product-buttons-container .container {
    width: 200px;
    height: 62px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content .product-content .product-img-container {
    width: 100%;
    height: 248px;
  }
  .main-content .product-content .product-img-container .product-img {
    padding: 46px 0;
  }
  .main-content .product-content .product-img-container .product-img img {
    width: 298px;
  }
  .main-content .product-content .product-img-container p {
    font-size: 6px;
    margin: 5px 0;
  }
  .main-content .product-content .selection-container {
    display: flex;
    margin: 27px 0 2px;
  }
  .main-content .product-content .selection-container .selection {
    height: 88px;
    margin: 0 15px;
    width: 83px;
  }
  .main-content .product-content .selection-container .selection:nth-of-type(1) {
    display: none;
  }
  .main-content .product-content .selection-container .selection img {
    width: 73px;
  }
  .main-content .product-content .product-details {
    margin: 6px 0;
  }
  .main-content .product-content .product-details p {
    font-size: 8px;
    margin: 6px 0;
  }
  .main-content .product-content .product-details h2 {
    font-size: 13px;
  }
  .main-content .product-content .product-details .star-rates {
    margin: 4px 0;
  }
  .main-content .product-content .product-details .star-rates img {
    width: 10px;
  }
  .main-content .product-content .product-details ul {
    margin: -3px 0;
    line-height: 2.5;
    font-size: 8px;
    padding: 0 12px;
  }
  .main-content .product-content .product-details .variations-container {
    margin: 17px 0 6px;
    padding: 10px 0;
  }
  .main-content .product-content .product-details .variations-container .variation {
    height: 34px;
    width: 66px;
    font-size: 8px;
  }
  .main-content .product-content .product-details .tax {
    font-size: 7px;
  }
  .main-content .product-content .product-details .discount {
    font-size: 13px;
  }
  .main-content .product-content .product-details .discount span {
    font-size: 15px;
    margin: 0 3px;
  }
  .main-content .product-content .product-details .product-buttons-container {
    margin: 11px 0;
  }
  .main-content .product-content .product-details .product-buttons-container .container {
    font-size: 8px;
    width: 70px;
    height: 25px;
  }
  .main-content .product-content .product-details .product-buttons-container .container:nth-of-type(even) {
    margin: 0 10px;
  }
  .main-content .product-content .product-details .product-buttons-container .input-box {
    font-size: 8px;
    width: 70px;
    height: 25px;
  }
  .main-content .product-content .product-details .product-buttons-container .input-box:nth-of-type(even) {
    margin: 0 10px;
  }
  .main-content .product-content .product-details .product-buttons-container .input-box button {
    font-size: 18px;
  }
  .main-content .product-content .product-details .product-buttons-container .input-box p {
    font-size: 12px;
  }
  .main-content .information-container {
    margin: 9px 0;
  }
  .main-content .information-container .description p {
    font-size: 8px;
    margin: 11px 0;
  }
  .main-content .information-container .description span {
    display: none;
  }
  .main-content .related-products-section {
    margin: 40px 0;
  }
  .main-content .related-products-section .text-title {
    font-size: 7px;
  }
  .main-content .related-products-section .related-products-container {
    flex-wrap: nowrap;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
  }
  .main-content .related-products-section .related-products-container .section {
    width: 257px;
  }
  .main-content .related-products-section .related-products-container .section:nth-of-type(1) {
    margin-right: 8px;
  }
  .main-content .related-products-section .related-products-container .section:nth-of-type(2) {
    margin-left: 8px;
  }
  .main-content .related-products-section .related-products-container .section:nth-of-type(3) {
    display: none;
  }
  .main-content .related-products-section .related-products-container .section:nth-of-type(4) {
    display: none;
  }
  .main-content .related-products-section .related-products-container .section .prod-container {
    width: 100%;
    height: 205px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges {
    padding: 6px 8px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges .tag {
    font-size: 6px;
    display: flex;
    align-items: center;
    padding: 0 9px;
    height: 12px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges .heart-border {
    padding: 5px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges .heart-border img {
    width: 8px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .quick-view-container img {
    width: 13px;
    right: 12px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container #r-prod {
    margin: 35px 0 22px;
    width: 110px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .cart-button {
    margin: 0 17px;
    padding: 8px 0;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .cart-button p {
    font-size: 8px;
    margin: 0 2px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .cart-button img {
    height: 12px;
  }
  .main-content .related-products-section .related-products-container .section .label p {
    font-size: 8px;
  }
  .main-content .related-products-section .related-products-container .section .label #price {
    font-size: 10px;
  }
}
.footer {
  margin-top: 225px;
}
.footer .panel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/footer-banner.png");
  background-size: cover;
  background-position: center;
}
.footer .panel-wrapper .filter {
  background-color: rgba(25, 25, 25, 0.63);
  padding: 30px;
  height: 100%;
  width: 100%;
}
.footer .panel-wrapper .subscription-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1482px;
}
.footer .panel-wrapper .subscription-container .newsletter {
  display: flex;
  align-items: center;
}
.footer .panel-wrapper .subscription-container .newsletter .newsletter-text {
  color: #fff;
}
.footer .panel-wrapper .subscription-container .newsletter .newsletter-text p {
  font-weight: 300;
}
.footer .panel-wrapper .subscription-container .newsletter .newsletter-text h2 {
  font-weight: 400;
}
.footer .panel-wrapper .subscription-container .email-container {
  display: flex;
}
.footer .panel-wrapper .subscription-container .email-container input[type="text"] {
  outline: 0;
  border: 0;
  padding: 10px 37px;
}
.footer .panel-wrapper .subscription-container .email-container input[type="text"]:focus {
  border: 1px solid #e73c17;
}
.footer .panel-wrapper .subscription-container .email-container ::placeholder {
  font-family: "Inter";
  font-size: normal;
}
.footer .panel-wrapper .subscription-container .email-container .subscribe-button {
  background-color: #e73c17;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.footer .panel-wrapper .subscription-container .email-container .subscribe-button:hover:enabled {
  cursor: pointer;
  background-color: #e23000;
}
.footer .page-footer {
  background-color: #2f333a;
}
.footer .page-footer .page-footer-container {
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
  font-weight: 200;
  color: #fff;
  max-width: 1800px;
  margin: 0 auto;
  padding: 55px 20px;
  flex-wrap: wrap;
}
.footer .page-footer .page-footer-container h2 {
  font-weight: 400;
}
.footer .page-footer .page-footer-container .about p {
  margin: 15px 0;
}
.footer .page-footer .page-footer-container .about .social-logos img {
  width: 30px;
  transition: 0.4s;
  margin: 15px 15px 0 0;
}
.footer .page-footer .page-footer-container .about .social-logos img:hover {
  transform: translate(0, -8px);
  cursor: pointer;
}
.footer .page-footer .page-footer-container .footer-links {
  display: flex;
  justify-content: space-between;
}
.footer .page-footer .page-footer-container .footer-links ul li {
  transition: 0.3s;
  margin: 5px 0;
}
.footer .page-footer .page-footer-container .footer-links ul li:hover {
  color: #e73c17;
  cursor: pointer;
}
.footer .page-footer .page-footer-container .footer-contacts .contact-info p {
  margin: 14px 0 10px;
}
.footer .page-footer .page-footer-container .footer-contacts .contact-info p a {
  color: #e73c17;
}
.footer .page-footer .page-footer-container .footer-contacts .contact-info p a:hover {
  text-decoration: underline;
}
.footer .page-footer .page-footer-container .footer-contacts .other-contacts {
  display: flex;
  align-items: center;
  margin: 22px 0;
}
.footer .page-footer .page-footer-container .footer-contacts .other-contacts img {
  margin-right: 10px;
}
.footer .page-footer .page-footer-container .footer-contacts .other-contacts a {
  color: #fff;
  transition: 0.3s;
}
.footer .page-footer .page-footer-container .footer-contacts .other-contacts a:hover {
  color: #e73c17;
}
.footer .page-footer .copyright-section {
  margin-top: 26px;
  text-align: center;
  border-top: 1px solid #fff;
  padding: 37px 0;
  color: #fff;
}
.footer .page-footer .copyright-section p {
  margin: 15px 0;
  font-size: 16px;
}
@media only screen and (min-width: 1025px) {
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text {
    margin-left: 29px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text p {
    font-size: 20px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text h2 {
    font-size: 28px;
  }
  .footer .panel-wrapper .subscription-container .email-container {
    width: 48%;
  }
  .footer .panel-wrapper .subscription-container .email-container input[type="text"] {
    width: 80%;
    height: 65px;
    font-size: 20px;
  }
  .footer .panel-wrapper .subscription-container .email-container .subscribe-button {
    width: 50%;
    font-size: 20px;
  }
  .footer .page-footer .page-footer-container h2 {
    font-size: 24px;
  }
  .footer .page-footer .page-footer-container .about {
    width: 20%;
  }
  .footer .page-footer .page-footer-container .footer-links {
    width: 665px;
  }
  .footer .page-footer .page-footer-container .footer-contacts {
    width: 341px;
  }
}
@media only screen and (max-width: 1313px) {
  .footer .page-footer .page-footer-container .about {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .footer .panel-wrapper .subscription-container .newsletter img {
    width: 40px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text {
    margin-left: 10px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text p {
    font-size: 12px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text h2 {
    font-size: 18px;
  }
  .footer .panel-wrapper .subscription-container .email-container {
    width: 40%;
  }
  .footer .panel-wrapper .subscription-container .email-container input[type="text"] {
    width: 90%;
    height: 40px;
    font-size: 13px;
  }
  .footer .panel-wrapper .subscription-container .email-container .subscribe-button {
    width: 70%;
    font-size: 15px;
    font-size: 10px;
  }
  .footer .page-footer .page-footer-container {
    flex-wrap: wrap;
  }
  .footer .page-footer .page-footer-container .about {
    width: 45%;
  }
  .footer .page-footer .page-footer-container .about h2 {
    font-size: 18px;
  }
  .footer .page-footer .page-footer-container .about p {
    font-size: 13px;
  }
  .footer .page-footer .page-footer-container .footer-links {
    width: 50%;
  }
  .footer .page-footer .page-footer-container .footer-links ul h2 {
    font-size: 18px;
  }
  .footer .page-footer .page-footer-container .footer-links ul li {
    font-size: 13px;
  }
  .footer .page-footer .page-footer-container .footer-contacts {
    width: 70%;
    display: flex;
  }
  .footer .page-footer .page-footer-container .footer-contacts h2 {
    font-size: 18px;
  }
  .footer .page-footer .page-footer-container .footer-contacts p {
    font-size: 13px;
  }
  .footer .page-footer .page-footer-container .footer-contacts .other-contacts {
    margin: 0 10px;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 74px;
  }
  .footer .panel-wrapper .subscription-container {
    flex-direction: column;
    padding: 0 20px;
  }
  .footer .panel-wrapper .subscription-container .newsletter {
    margin: 14px 0;
    width: 100%;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text h2 {
    font-size: 13.3px;
  }
  .footer .panel-wrapper .subscription-container .newsletter .newsletter-text p {
    font-size: 10px;
  }
  .footer .panel-wrapper .subscription-container .newsletter img {
    width: 21px;
    height: 21px;
  }
  .footer .panel-wrapper .subscription-container .email-container {
    margin: 15px 0;
    width: 100%;
  }
  .footer .panel-wrapper .subscription-container .email-container input[type="text"] {
    width: 100%;
    padding: 10px 17px;
    font-size: 10px;
  }
  .footer .panel-wrapper .subscription-container .email-container .subscribe-button {
    width: 157px;
  }
  .footer .panel-wrapper .subscription-container .email-container .subscribe-button p {
    font-size: 10px;
  }
  .footer .page-footer .page-footer-container {
    display: block;
    padding: 19px 20px 11px;
  }
  .footer .page-footer .page-footer-container .about {
    width: 100%;
    padding: 7px 13px;
    margin: 10px 0;
    background-color: #6f6f6f;
  }
  .footer .page-footer .page-footer-container .about h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
  }
  .footer .page-footer .page-footer-container .about p {
    display: none;
    font-size: 8px;
    margin: 10px 0;
  }
  .footer .page-footer .page-footer-container .about .social-logos {
    display: none;
  }
  .footer .page-footer .page-footer-container .about .social-logos img {
    width: 18px;
  }
  .footer .page-footer .page-footer-container .about .social-logos img:nth-of-type(even) {
    margin: 0 10px;
  }
  .footer .page-footer .page-footer-container .about .arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .footer .page-footer .page-footer-container .footer-links {
    display: block;
    width: 100%;
  }
  .footer .page-footer .page-footer-container .footer-links ul {
    background-color: #6f6f6f;
    margin: 20px 0;
    padding: 7px 13px;
  }
  .footer .page-footer .page-footer-container .footer-links ul h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
  }
  .footer .page-footer .page-footer-container .footer-links ul li {
    display: none;
    margin: 10px;
    font-size: 8px;
  }
  .footer .page-footer .page-footer-container .footer-links ul .arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .footer .page-footer .page-footer-container .footer-contacts {
    display: block;
    background-color: #6f6f6f;
    width: 100%;
    margin: 10px 0;
    padding: 7px 13px;
  }
  .footer .page-footer .page-footer-container .footer-contacts .contact-info h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
  }
  .footer .page-footer .page-footer-container .footer-contacts .contact-info p {
    display: none;
  }
  .footer .page-footer .page-footer-container .footer-contacts .other-contacts {
    display: none;
    margin: 12px 0;
    font-size: 8px;
  }
  .footer .page-footer .page-footer-container .footer-contacts .other-contacts img {
    width: 18px;
  }
  .footer .page-footer .page-footer-container .footer-contacts .arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .footer .page-footer .copyright-section .cards img {
    width: 19px;
  }
  .footer .page-footer .copyright-section .cards img:nth-of-type(even) {
    margin: 0 2px;
  }
  .footer .page-footer .copyright-section p {
    font-size: 7px;
    margin: 12px 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html,
body {
  font-family: "Inter";
  font-style: normal;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}
button,
a {
  cursor: pointer;
  text-decoration: none;
  background: transparent;
}
li {
  list-style-type: none;
}
