* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
}
.navigation {
  margin-bottom: 60px;
}
.navigation .nav-header {
  background-color: #2f333a;
  font-size: 13px;
  font-weight: 150;
  height: 60px;
}
.navigation .nav-header .nav-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 1760px;
  margin: 0 auto;
  height: 100%;
  font-size: 16px;
}
.navigation .nav-header .nav-header-container .rate {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .eng {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .eng p {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .eng .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .nav-header .nav-header-container .rate span {
  margin: 0 15px;
}
.navigation .nav-header .nav-header-container .rate .usd {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .usd p {
  display: flex;
  align-items: center;
}
.navigation .nav-header .nav-header-container .rate .usd .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 1760px;
  margin: 0 auto;
  height: 100%;
  font-size: 16px;
  color: #191919;
  padding: 42px 0;
  font-size: 20px;
}
.navigation .site-header .rate {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .eng {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .eng p {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .eng .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .site-header .rate span {
  margin: 0 15px;
}
.navigation .site-header .rate .usd {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .usd p {
  display: flex;
  align-items: center;
}
.navigation .site-header .rate .usd .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .site-header .nav-search {
  display: flex;
  align-items: center;
}
.navigation .site-header .nav-search input[type="text"] {
  outline: 0;
  font-family: "Inter";
  font-style: normal;
  border: 1px solid #f0f0f0;
}
.navigation .site-header .nav-search .header-categories {
  display: flex;
  align-items: center;
  border: 1px solid #f0f0f0;
  padding: 20px;
}
.navigation .site-header .nav-search .header-categories p {
  display: flex;
  align-items: center;
  margin: 0;
}
.navigation .site-header .nav-search .header-categories p .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin-left: 24px;
}
.navigation .site-header .nav-search .header-categories:hover {
  cursor: pointer;
}
.navigation .site-header .nav-search .search-bar {
  transition: 0.3s;
  background: #2f333a;
}
.navigation .site-header .nav-search .search-bar:hover {
  cursor: pointer;
  background-color: #e73c17;
}
.navigation .site-header .nav-search .categories {
  position: absolute;
  background-color: #fff;
  display: none;
  width: 165px;
  top: 120px;
}
.navigation .site-header .nav-search .categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.navigation .site-header .nav-search .categories ul li {
  padding: 18px 10px;
}
.navigation .site-header .nav-search .categories ul li:hover {
  background-color: #f4f5f8;
}
.navigation .site-header .nav-menu {
  display: flex;
  align-items: center;
}
.navigation .site-header .nav-menu .registration {
  display: flex;
}
.navigation .site-header .nav-menu .registration a {
  text-decoration: none;
  color: #191919;
}
.navigation .site-header .nav-menu .registration a:hover {
  text-decoration: underline;
}
.navigation .site-header .nav-menu .registration span {
  margin: 0 10px;
}
.navigation .site-header .nav-menu .nav-menu-button {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 25px;
}
.navigation .site-header .nav-menu .nav-menu-button img {
  margin: 0 5px;
}
.navigation .site-header .nav-menu .nav-menu-button .badge {
  background-color: #e23000;
  color: #fff;
  border-radius: 50px;
  height: 24px;
  width: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 12px;
  left: 45px;
}
.navigation .nav-bar {
  background-color: #2f333a;
  font-weight: 200;
  height: 78px;
}
.navigation .nav-bar .nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1760px;
  margin: 0 auto;
  color: #fff;
  height: 100%;
}
.navigation .nav-bar .nav-bar-container .nav-categories {
  display: flex;
  align-items: center;
  padding: 18px 75px;
  background-color: #e73c17;
  font-weight: 400;
  height: 100%;
}
.navigation .nav-bar .nav-bar-container .nav-categories p {
  margin: 0 25px;
}
.navigation .nav-bar .nav-bar-container .nav-categories .arrow {
  border: 1px solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
}
.navigation .nav-bar .nav-bar-container .nav-contact {
  display: flex;
  align-items: center;
  padding-left: 4%;
  border-left: 1px solid;
  height: 100%;
}
.navigation .nav-bar .nav-bar-container .nav-contact img {
  margin: 0 20px;
  width: 40px;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text .contact-title {
  margin: 0;
  font-weight: 200;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text p {
  margin: 0;
  line-height: 1.5;
  text-align: end;
}
.navigation .nav-bar .nav-bar-container .nav-contact .contact-text .num {
  font-weight: 400;
}
.navigation .nav-bar .nav-bar-container .nav-links {
  width: 600px;
  font-size: 13px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 10px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li {
  display: flex;
  align-items: center;
  position: relative;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li:hover ul {
  padding: 0;
  position: absolute;
  top: 20px;
  background-color: #f4f5f8;
  color: #191919;
  display: block;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li a {
  text-decoration: none;
  color: #fff;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li .arrow {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 10px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li ul {
  display: none;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li ul li {
  padding: 15px 5px;
}
.navigation .nav-bar .nav-bar-container .nav-links .menu-link li ul li:hover {
  cursor: pointer;
}
.navigation .nav-title {
  text-align: center;
  background-color: #f4f5f8;
  padding: 70px 0;
}
.main-content {
  max-width: 1760px;
  padding: 0 40px;
  margin: 0 auto;
}
.main-content .product-content {
  display: flex;
}
.main-content .product-content .selection-container .selection {
  border: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .product-content .selection-container .selection:nth-of-type(even) {
  margin: 27px 0;
}
.main-content .product-content .selection-container .selection:hover {
  cursor: pointer;
}
.main-content .product-content .selection-container .selected {
  border: 1px solid #e73c17;
}
.main-content .product-content .product-img-container .product-img {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}
.main-content .product-content .product-img-container p {
  color: #6f6f6f;
}
.main-content .product-content .product-details .variations-container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.main-content .product-content .product-details .variations-container .variation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6f6f6f;
}
.main-content .product-content .product-details .variations-container .variation:hover {
  cursor: pointer;
  border: 1px solid #e73c17;
}
.main-content .product-content .product-details .variations-container .selected {
  border: 1px solid #e73c17;
  color: #e73c17;
}
.main-content .product-content .product-details .discount {
  font-size: 28px;
  font-weight: 400;
}
.main-content .product-content .product-details .discount span {
  color: #d9d9d9;
  font-size: 22px;
  text-decoration: line-through;
  margin: 0 10px;
}
.main-content .product-content .product-details .product-buttons-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-content .product-content .product-details .product-buttons-container .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .product-content .product-details .product-buttons-container .input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content .product-content .product-details .product-buttons-container .input-box button {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: 1px solid #f0f0f0;
  padding: 0;
}
.main-content .product-content .product-details .product-buttons-container .input-box p {
  width: 100%;
  height: 100%;
  border: 1px solid #f0f0f0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .product-content .product-details .product-buttons-container #buy-button {
  background-color: #e73c17;
  color: #fff;
  transition: 0.3s;
}
.main-content .product-content .product-details .product-buttons-container #buy-button:hover {
  cursor: pointer;
  background-color: #da2b03;
}
.main-content .product-content .product-details .product-buttons-container #cart-button {
  border: 1px solid #e73c17;
  color: #e73c17;
}
.main-content .product-content .product-details .product-buttons-container #cart-button:hover {
  cursor: pointer;
}
.footer {
  margin-top: 150px;
}
.footer .panel-wrapper {
  background-color: #2f333a;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .panel-wrapper #wrapper {
  filter: brightness(0.7);
  width: 100%;
}
.footer .panel-wrapper .subscription-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  max-width: 1760px;
  margin: 0 auto;
  position: absolute;
}
.footer .panel-wrapper .subscription-container .newsletter {
  display: flex;
  align-items: center;
}
.footer .panel-wrapper .subscription-container .newsletter .newsletter-text {
  color: #fff;
  margin: 0 25px;
}
.footer .panel-wrapper .subscription-container .newsletter .newsletter-text p {
  margin: 0;
  font-weight: 300;
}
.footer .panel-wrapper .subscription-container .newsletter .newsletter-text h2 {
  margin: 0;
  font-weight: 400;
}
.footer .panel-wrapper .subscription-container .email-container {
  display: flex;
}
.footer .panel-wrapper .subscription-container .email-container input[type="text"] {
  outline: 0;
  border: 0;
  width: 340px;
  height: 55px;
  padding: 10px 30px;
}
.footer .panel-wrapper .subscription-container .email-container ::placeholder {
  font-family: "Inter";
  font-size: normal;
}
.footer .panel-wrapper .subscription-container .email-container .subscribe-button {
  background-color: #e73c17;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 50px;
  transition: 0.4s;
}
.footer .panel-wrapper .subscription-container .email-container .subscribe-button:hover {
  cursor: pointer;
  background-color: #da2b03;
}
.footer .panel-wrapper .subscription-container .email-container p {
  margin: 0;
}
.footer .page-footer {
  background-color: #2f333a;
}
.footer .page-footer .page-footer-container {
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
  font-weight: 200;
  color: #fff;
  padding: 30px 40px 40px;
  max-width: 1760px;
  margin: 0 auto;
}
.footer .page-footer .page-footer-container h2 {
  font-weight: 400;
  font-size: 22px;
}
.footer .page-footer .page-footer-container .about {
  width: 20%;
}
.footer .page-footer .page-footer-container .about .social-logos img {
  width: 25px;
  transition: 0.4s;
}
.footer .page-footer .page-footer-container .about .social-logos img:hover {
  transform: translate(0, -8px);
  cursor: pointer;
}
.footer .page-footer .page-footer-container .about .social-logos img:nth-of-type(even) {
  margin: 0 8px;
}
.footer .page-footer .page-footer-container .footer-links {
  display: flex;
}
.footer .page-footer .page-footer-container .footer-links ul {
  list-style-type: none;
  margin: 0 50px;
  padding: 0;
}
.footer .page-footer .page-footer-container .footer-links ul li {
  transition: 0.3s;
}
.footer .page-footer .page-footer-container .footer-links ul li:hover {
  color: #e73c17;
  cursor: pointer;
}
.footer .page-footer .page-footer-container .footer-contacts {
  width: 20%;
}
.footer .page-footer .page-footer-container .footer-contacts p span {
  color: #e73c17;
}
.footer .page-footer .page-footer-container .footer-contacts .other-contacts {
  display: flex;
  align-items: center;
}
.footer .page-footer .page-footer-container .footer-contacts .other-contacts img {
  margin: 0 10px;
}
@media only screen and (min-width: 1025px) {
  .navigation .site-header .logo img {
    width: 160px;
  }
  .navigation .site-header .nav-search input[type="text"] {
    font-size: 20px;
    padding: 20px;
    width: 600px;
  }
  .navigation .site-header .nav-search .search-bar {
    padding: 17px;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories {
    font-size: 20px;
  }
  .main-content .product-content {
    flex-wrap: nowrap;
  }
  .main-content .product-content .selection-container {
    width: 15%;
  }
  .main-content .product-content .selection-container .selection {
    height: 150px;
  }
  .main-content .product-content .selection-container .selection img {
    width: 80%;
  }
  .main-content .product-content .selection-container .selection:hover {
    cursor: pointer;
  }
  .main-content .product-content .product-img-container {
    width: 50%;
    margin: 0 25px;
  }
  .main-content .product-content .product-img-container .product-img {
    padding: 208px 0;
  }
  .main-content .product-content .product-img-container .product-img img {
    width: 70%;
  }
  .main-content .product-content .product-img-container p {
    margin: 35px 0;
    font-size: 14px;
  }
  .main-content .product-content .product-details {
    width: 50%;
  }
  .main-content .product-content .product-details p span {
    font-weight: 500;
  }
  .main-content .product-content .product-details h2 {
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
  }
  .main-content .product-content .product-details ul {
    padding: 0 20px;
    line-height: 2;
  }
  .main-content .product-content .product-details .variations-container {
    padding: 25px 0;
  }
  .main-content .product-content .product-details .variations-container .variation {
    margin: 0 13px 13px 0;
    height: 50px;
    width: 170px;
  }
  .main-content .product-content .product-details .product-buttons-container .container {
    margin: 20px;
    margin-left: 0;
    height: 50px;
    width: 170px;
  }
  .main-content .product-content .product-details .product-buttons-container .input-box {
    height: 50px;
    width: 170px;
    font-size: 25px;
    font-weight: 500;
  }
  .main-content .product-content .product-details .product-buttons-container .input-box button {
    font-size: 25px;
  }
  .main-content .information-container {
    margin: 110px 0;
  }
  .main-content .information-container .info-title {
    border-bottom: 1px solid #f0f0f0;
  }
  .main-content .information-container .info-title ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
  }
  .main-content .information-container .info-title ul li {
    font-size: 22px;
    font-weight: 500;
    line-height: 2.5;
  }
  .main-content .information-container .info-title ul li:nth-of-type(even) {
    margin: 0 50px;
  }
  .main-content .information-container .info-title ul li:hover {
    cursor: pointer;
  }
  .main-content .information-container .info-title ul .selected {
    border-bottom: 1px solid #e73c17;
  }
  .main-content .information-container .info-title #selected {
    border-bottom: 1px solid #e73c17;
  }
  .main-content .information-container .description {
    padding: 15px 23%;
  }
  .main-content .information-container .description p {
    line-height: 1.8;
    display: none;
  }
  .main-content .information-container .description .show {
    display: block;
  }
  .main-content .related-products-section .text-title {
    text-align: center;
    margin: 85px 0;
  }
  .main-content .related-products-section .related-products-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .main-content .related-products-section .related-products-container .section .prod-container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges .tag {
    width: fit-content;
    color: #fff;
    padding: 6px 18px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 300;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges #new {
    background-color: #12a05c;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges #discount {
    background-color: #e73c17;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges #hot {
    background-color: #ff9900;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges #warranty {
    background-color: #7f7cf6;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .badges img {
    margin: 0;
    border: 1px solid #d7d7d7;
    padding: 12px;
    border-radius: 50px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container #r-prod {
    margin: 70px 40px;
    width: 250px;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0 85px;
    color: #6f6f6f;
    transition: 0.3s;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .cart-button img {
    height: 18px;
    margin: 0;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .cart-button:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    cursor: pointer;
  }
  .main-content .related-products-section .related-products-container .section .prod-container .cart-button p {
    margin-left: 12px;
    font-weight: 600;
  }
  .main-content .related-products-section .related-products-container .section .label {
    background-color: #fff;
    text-align: center;
    padding: 25px 0;
  }
  .main-content .related-products-section .related-products-container .section .label #price {
    font-weight: 700;
  }
  .main-content .related-products-section .related-products-container .section .label #price span {
    color: #d9d9d9;
    margin: 0 10px;
    text-decoration: line-through;
  }
}
@media only screen and (max-width: 1024px) {
  .navigation .site-header .logo img {
    width: 110px;
  }
  .navigation .site-header .nav-search {
    display: flex;
  }
  .navigation .site-header .nav-search input[type="text"] {
    padding: 15px;
    width: 240px;
    font-size: 13px;
  }
  .navigation .site-header .nav-search .header-categories {
    padding: 15px;
    font-size: 13px;
  }
  .navigation .site-header .nav-search .search-bar {
    padding: 12px;
  }
  .navigation .site-header .nav-menu {
    font-size: 13px;
  }
  .navigation .nav-bar .nav-bar-container .nav-categories p {
    font-size: 15px;
  }
  .main-content .product-content {
    flex-wrap: wrap;
  }
}
